[Unit]
Description=Niemeyer as Desktop Display Manager
Conflicts=getty@tty1.service
After=systemd-user-sessions.service getty@tty1.service plymouth-quit.service systemd-logind.service

[Service]
ExecStart=/usr/bin/start-niemeyer

[Install]
Alias=display-manager.service
